.Counter {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    border-radius: 5px;
}

.Controls {
    display: flex;
    align-items: center;
    gap: 10px;
}

.Button {
    background-color: #a78393;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 3px 7px;
    cursor: pointer;
    font-size: 1.2rem;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.Button:hover {
    background-color: #5c4851;
}

.Number {
    font-size: 1.5rem;
    color: #a78393;
    font-weight: bold;
    margin: 0;
}

.Option {
    margin-top: 25px;
    background-color: #a78393;
}
.Option:hover {
    background-color: #44363c; 
}